<div class="panel panel-default">
<div class="panel-heading">
<%=comment.commenter%>
</div>

<div class="panel-body">
<%=comment.body%>

<%= link_to 'Eliminar Comentario', [comment.post, comment],
             :confirm => 'Esta seguro?',
             :method => :delete,:class => "btn btn-success pull-right" %>
</div>
</div>
