// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

body{
	margin:0px;
	padding:0px;
	background-image:asset-url("dark_wood.png", image) 
}

.contenedor{
margin:0 auto;
height:300px;
width:960px;
background-color: #fff;
border-width: 1px;
border-color: #ddd;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;
overflow:hidden;
-webkit-box-shadow: 4px 2px 18px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    4px 2px 18px 0px rgba(50, 50, 50, 0.75);
box-shadow:         4px 2px 18px 0px rgba(50, 50, 50, 0.75);
}

.body{
	margin: 0 auto;
	width:960px;
	height:990px;
	padding:10px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius: 15px 15px 15px 15px;	
}
.post{
	display:block;
	margin: 10px 20px 20px 0px;
	width:580px;
	height:300px;
	background-color:#fff;
	-webkit-border-radius:15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;	
}

.banner-post{
	display:block;
	//background-color:#c6c6c6;
	height:50px;
	position:relative;
	top:0px;
	left:0px;
	-webkit-border-radius:15px 15px 0px 0px;
	border-radius: 15px 15px 0px 0px;	
	background: #1d76ad; /* Old browsers */
background: -moz-linear-gradient(top, #1d76ad 0%, #032a41 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d76ad), color-stop(100%,#032a41)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1d76ad 0%,#032a41 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1d76ad 0%,#032a41 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1d76ad 0%,#032a41 100%); /* IE10+ */
background: linear-gradient(to bottom, #1d76ad 0%,#032a41 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d76ad', endColorstr='#032a41',GradientType=0 ); /* IE6-9 */

.aside{
	display:block;
	margin:10px 20px;
	width:340px;
}

p{
	display:block;
	margin:10px 20px;
	font:"Courier New", Courier, monospace;
	font-size:14px;
	text-align:justify;
	height:170px;
	overflow:hidden;
	
}
p::first-letter{
	font-family:"Lucida Console", Monaco, monospace;
	font-size:20px;
	font-weight:bold;
	margin-left:15px;
}

h3{
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	color:white;
	margin:10px 0px 0px 10px;
	cursor:default;
	text-shadow: 4px 1px 5px black;
	
}

#botonera{
	display:block;
	position:relative;
	left:480px;
	top:-20px;
}
#read-button{
	position:relative;
	left:450px;
}